.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-top: 10px;
  color: #fff;
}

.input {
  height: 45px;
  width: 400px;
  position: relative;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1.3rem;
  /* margin-right: 10px; */
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.input::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: red;
}

.submit {
  width: 45px;
  height: 45px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #6c63ff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.submit:hover {
  background-color: #554ddd;
}
